*{
	margin: 0;
	padding: 0;
}
@font-face{
    font-family: KaushanScript-Regular;
    src: url(Fuentes/KaushanScript-Regular.otf);
}
body{
	background-color: #02AC66; 
}
.titulo{
	text-align: center;
	margin-top: 40px;
	font-family: Time New Roman;
	font-size: 10mm;
	color: #000;
}
.cont-img{
	display: flex;
	align-content: center;
	justify-content: center;
	margin-top: 100px;
}
.ImagenObjeto{
	width: 300px;
	height: 300px;
	border-radius: 10px;
}
.cont-opciones{
	display: flex;
	align-content: center;
	justify-content: center;
	margin-top: 50px;
}
.Opcion{
	width: 250px;
	height: 250px
	border-radius: 10px;
	margin-right: 20px;
}