*{
	margin: 0;
	padding: 0;
}
@font-face{
    font-family: KaushanScript-Regular;
    src: url(Fuentes/KaushanScript-Regular.otf);
}
body{
	background-color: #02AC66; 
}
.titulo{
	text-align: center;
	margin-top: 10px;
	font-family: KaushanScript-Regular;
	font-size: 10mm;
	color: #000;
}
.cont-opciones{
	display: flex;
	align-content: center;
	justify-content: center;
	margin-top: 50px;
}
.ImagenObjeto{
	width: 200px;
	height: 200px;
	border-radius: 10px;
}
.Opcion{
	width: 200px;
	height: 250px;
	border-radius: 10px;
	margin-right: 40px;
}
.pie-de-imagen{
	text-align: center;
	margin-top: 5px;
}
.cont-boton{
	display: flex;
	align-items: center;
	justify-content: center; 
}
.boton{
	font-size: 6mm;
	background-color: rgb(126, 102, 178);
	width: 90vw;
	padding: 9px;
	border-style: none;
	border-radius: 10px;
}
.cont-boton{
	display: flex;
	align-items: center;
	justify-content: center; 
	margin-top: 100px;
}
.cont-boton-v{
	width: 100vw;
	margin: 50px 0px;
}
.boton-v{
	margin-left: 80%;
	font-size: 4mm;
	padding: 15px 40px;
	background-color: red;
	color: #fff;
	border-style: none;
	border-radius: 10px;
}