*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(125, 194, 102);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@font-face{
    font-family: KaushanScript-Regular;
    src: url(Fuentes/KaushanScript-Regular.otf);
}
.contenido{
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-gap: 5%;
    justify-content: center;
    margin-top: 10%;
}
.contenido div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(153, 248, 179);
    border-radius: 20px;
    border-bottom: solid blue 5px;
}
img{
    width: 100%;
    height: 200px;
    border-radius: 25px 0;
    object-fit: cover;
}
b{
    text-align: center;
    font-size: 5mm;
    margin-top: 20px;
}
button{
    border-style: none;
}

@media screen and (max-width: 600px){
    .contenido{
        grid-gap: 30px;
        grid-template-columns: repeat(1, 300px);
        margin-bottom: 100px;
    }
    b{
        margin-bottom: 20px;
    }
}