*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Animación de inicio*/
section div{
    background-color: #4c4747;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    transition: all 1.5s;
}
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation: loader 1.5s infinite ease-in-out;
}
.loader{
    color: #4685fa;
    font-size: 15px;
    position: relative;
    margin: auto;
    margin-top: 15%;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
}
.loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
}
.loader:after {
    left: 3.5em;
}
@keyframes loader{
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

/*Fuentes*/
@font-face{
    font-family: angrybirds-regular;
    src: url(Fuentes/angrybirds-regular.ttf);
}
@font-face{
    font-family: KaushanScript-Regular;
    src: url(Fuentes/KaushanScript-Regular.otf);
}

body{
    background-image: url(Imagenes/imagen-paisaje.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cont-inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
}
h1{
    font-family: angrybirds-regular;
    font-size: 25mm;
    color: red;
    margin-bottom: 25px;
}
.cont-inicio button{
    background-color: blue;
    border-radius: 50px;
    border-style: none;
    padding: 9px 50px;
	font-family: KaushanScript-Regular;
	font-size: 8mm;
    transition: background 0.8s;
    transition: color 1s;
}
.cont-inicio button:hover{
    background: red;
    color: #fff;
}
a{
    text-decoration: none;
}

/*Barra Lateral*/
.boton-barra{
    display: flex;
    margin: 20px 0 0 40px;
    position: absolute;
    border: solid #fff 2px;
    padding: 5px 10px;
}
#btn-menu{
    display: none;
}
.container-menu{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: vh;
    position: fixed;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 50;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
.cont-menu div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}
.cont-menu img{
    width: 200px;
    height: 200px;
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

@media screen and (max-width: 600px){
    body{
        background-image: url(Imagenes/imágen-paisaje-movil.jpg);
    }
    h1{
        font-size: 17mm;
    }
    button{
        font-size: 7mm;
        padding: 10px 50px;
    }

}