*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
section div{
    background-color: #4c4747;
    position: fixed;
    margin-top: -90px;
    width: 100%;
    height: 120%;
    z-index: 9999;
    transition: all 1.5s;
}
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation: loader 1.5s infinite ease-in-out;
}
.loader{
    color: #4685fa;
    font-size: 15px;
    position: relative;
    margin: auto;
    margin-top: 12%;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}
.loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
}
.loader:after {
    left: 3.5em;
}
@keyframes loader{
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
body{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
	background-image: url(Imagenes/imagen-paisaje.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
}
@font-face{
    font-family: angrybirds-regular;
    src: url(Fuentes/angrybirds-regular.ttf);
}
.cont-inicio{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
}
h1{
	font-family: angrybirds-regular;
	font-size: 30mm;
	color: red;
	margin-top: 150px;
}
button{
	background-color: blue;
    font-family: ;
	font-size: 8mm;
	border-style: none;
	border-radius: 50px;
    padding: 20px 70px;
	margin-top: 50px;
    transition: background 0.8s;
    transition: color 1s;
}
button:hover{
    background: red;
    color: #fff;
}
a{
	text-decoration: none;
}

/*Estilos de la página de contenidos*/
#body2{
    background: rgb(52, 150, 52);
    height: 75vh;
}
.contenido{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    grid-gap: 30px;
}
.contenido div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(114, 197, 105);
    border-radius: 20px;
    padding: 20px;
    width: 260px;
    height: 270px;
}
img{
    width: 230px;
    height: 170px;
}
b{
    text-align: center;
    font-size: 5mm;
    margin-top: 15px;
}

@media screen and (max-width: 600px){
    body{
        background-image: url(Imagenes/imágen-paisaje-movil.jpg);
    }
    h1{
        font-size: 17mm;
    }
    .cont-inicio{
        margin-top: 20%;
    }
    button{
        margin-top: 20px;
        font-size: 5mm;
        padding: 20px 50px;
    }
    .contenido{
        grid-gap: 20px;
        grid-template-columns: repeat(2, 160px);
    }
    .contenido div{
        width: fit-content;
        height: auto;
        padding: 10px;
    }
    img{
        width: 140px;
        height: 125px;
    }
    b{
        font-size: 3mm;
    }

}