*{
	margin: 0;
	padding: 0;
}
@font-face{
    font-family: KaushanScript-Regular;
    src: url(Fuentes/KaushanScript-Regular.otf);
}
body{
	background-color: #02AC66; 
}
h1{
	text-align: center;
	margin-top: 30px;
	font-family: KaushanScript-Regular;
	font-size: 11mm;
	color: #000;
}
.cont-objeto{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	margin-top: 50px;
}
.cont-objeto img{
	width: 300px;
	height: 300px;
	border-radius: 10px;
}
.cont-objeto h3{
	margin-top: 10px;
}
.cont-opciones{
	display: grid;
	grid-template-columns: 250px 250px 250px;
	grid-gap: 40px;
	margin: 50px 9% 100px 9%;
}
.cont-opciones div{
	width: 250px;
	height: 250px;
	border: 2px solid #fff;
}
.cont-opciones img{
	width: 250px;
	height: 250px;
	border-radius: 10px;
}