*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
section div{
    background-color: #4c4747;
    position: fixed;
    margin-top: -90px;
    width: 100%;
    height: 120%;
    z-index: 9999;
    transition: all 1.5s;
}
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation: loader 1.5s infinite ease-in-out;
}
.loader{
    color: #4685fa;
    font-size: 15px;
    position: relative;
    margin: auto;
    margin-top: 12%;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}
.loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
}
.loader:after {
    left: 3.5em;
}
@keyframes loader{
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
body{
	background-image: url(Imagenes/imagen-paisaje.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
}
@font-face{
    font-family: angrybirds-regular;
    src: url(Fuentes/angrybirds-regular.ttf);
}
h1{
	text-align: center;
	font-family: angrybirds-regular;
	font-size: 30mm;
	color: red;
	margin-top: 7%;
}
button{
	display: flex;
	margin: auto;
	background-color: blue;
    font-family: ;
	font-size: 8mm;
	border-style: none;
	border-radius: 50px;
    padding: 20px 70px;
	margin-top: 50px;
    transition: background 0.8s;
    transition: color 1s;
}
button:hover{
    background: red;
    color: #fff;
}
a{
    width: fit-content;
	text-decoration: none;
}

@media screen (max-width: 400px){
    h1{
        font-size: 15mm;
    }
}

/*Estilos de la página de contenidos*/
#body2{
    background: green;
    height: 75vh;
}
.contenido{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    grid-gap: 30px;
}
.contenido div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: blue;
    border-radius: 20px;
    padding: 20px;
    width: 260px;
    height: 270px;
}
img{
    width: 230px;
    height: 170px;
}
b{
    font-size: 5mm;
    margin-top: 15px;
}