*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*Fuentes*/
@font-face{
    font-family: KaushanScript-Regular;
    src: url(../../Fuentes/KaushanScript-Regular.otf);
}
@font-face{
    font-family: angrybirds-regular;
    src: url(../../Fuentes/angrybirds-regular.ttf);
}

body{
	-webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
	background-image: url(../../Imagenes/landscape-1844226_1920.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#mensaje{
	display: flex;
	position: absolute; 
	flex-direction: column;
	align-items: center;
	top: -270%;
	background: rgba(7, 87, 200, 0.64);
	width: 100vw;
	height: 250vh;
}
#mensaje h1{
	margin: 20% 0 50px 0;
	font-size: 20mm;
	font-family: angrybirds-regular;
	color: rgb(255, 248, 248);
	text-align: center;
}
#mensaje button{
	font-family: KaushanScript-Regular; 
	font-size: 9mm;
	padding: 20px 70px;
	background: rgb(216, 119, 8);
	border-style: none;
	border-radius: 20px;
}

.titulo{
	text-align: center;
	margin: 20px 10px 0 10px;
	font-family: KaushanScript-Regular;
	font-size: 10mm;
	color: #fff;
}
.cont-objeto{
	display: flex;
	align-items: center;
	width: fit-content;
	flex-direction: column;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 50px;
	padding: 10px 20px;
	border-radius: 5px;
	border: 5px solid #fff;
	border-style: double;
}
.cont-objeto img{
	width: 300px;
	height: 250px;
	object-fit: cover;
	border-radius: 10px;
}
.cont-objeto h3{
	font-size: 8mm;
	margin-top: 10px;
	color: red;
}

/*Tarjetas de opciones*/
.cont-opciones{
	display: grid;
	grid-template-columns: repeat(4, 220px);
	grid-gap: 25px;
	margin: 20px 0 150px 0;
	justify-content: center;
}
.card{
	position: relative;
	height: 290px;
	color: green;
	border-radius: 10px;
	overflow: hidden;
}
.card1, .card2, .card2, .card3, .card4{
	background-position: center;
	background-size: contain;
}
.card1{
	background-image: url(../../Imagenes/Niveles/carton.png);
}
.card2{
	background-image: url(../../Imagenes/Niveles/orgánicos.png);
}
.card3{
	background-image: url(../../Imagenes/Niveles/plásticos.png);
}
.card4{
	background-image: url(../../Imagenes/Niveles/vidrios.png);
}

/*Animación de las tarjetas*/
.card_cont{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 280px;
	padding: 20px;
	background-color: #fff;
	border-top-left-radius: 35px;
	transform: translateY(225px);
	transition: transform .25s;
}
h2{
	line-height: 20px;
	margin: 15px 0;
}
.card_cont p{
	font-size: 14px;
	opacity: 0;
	transition: opacity .5s;
}
.card:active .card_cont{
	transform: translateY(0);
}
li{
	margin-left: 10px;
}
button{
	display: flex;
	margin: auto;
	align-items: center;
	margin-bottom: 150px;
	background: rgb(136, 107, 26);
	padding: 10px 30%;
	border-radius: 15px;
	color: #fff;
	font-size: 18px;
}
a{
	text-decoration: none;
}

@media screen and (max-width: 600px){
	.cont-opciones{
		grid-gap: 15px;
		grid-template-columns: repeat(2, 170px);
		grid-template-rows: repeat(2, 200px);
	}
	#mensaje h1{
		font-size: 15mm;
	}
	#mensaje button{
		font-size: 7mm;
	}

	.cont-objeto img{
		width: 270px;
		height: auto;
	}

	.card{
		width: 170px;
	    height: 250px;
	}
	.card_cont{
		height: 240px;
		transform: translateY(190px);
	}
	.card_cont p{
		font-size: 5mm;
	}
	#cont-pregunta h1{
		margin: 20% 0 50px 0;
		font-size: 12mm;
		text-align: center;
		font-family: Algerian;
		color: rgb(255, 248, 248);
	}
	#cont-pregunta button{
		font-size: 8mm;
		padding: 15px 60px;
		background: rgb(216, 119, 8);
		margin: 20% 0 50px 0;
		font-size: 12mm;
		text-align: center;
		font-family: Algerian;
		color: rgb(255, 248, 248);
	}
	#cont-pregunta button{
		font-size: 8mm;
		padding: 15px 60px;
		background: rgb(216, 119, 8);
	}
	.titulo{
		font-size: 7mm;
	}
	button{
		margin-bottom: 250px;
	}
}
button{
	border-style: none;
}