*{
	margin: 0;
	padding: 0;
}
@font-face{
    font-family: KaushanScript-Regular;
    src: url(../Fuentes/KaushanScript-Regular.otf);
}
body{
	background: rgb(7,2,87);
	background: linear-gradient(180deg, rgba(7,2,87,1) 6%, rgba(39,9,121,1) 34%, rgba(0,212,255,1) 94%); 
}
h1{
	text-align: center;
	margin-top: 20px;
	font-family: KaushanScript-Regular;
	font-size: 10mm;
	color: #fff;
}
.cont-objeto{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	margin-top: 50px;
}
.cont-objeto img{
	width: 230px;
	height: 230px;
	border-radius: 10px;
}
.cont-objeto h3{
	margin-top: 10px;
}
.cont-opciones-t{
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	margin: 50px 0 100px 0;
}
.cont-opciones{
	display: grid;
	grid-template-columns: 160px 160px 160px 160px;
	grid-gap: 60px;
}
.cont-opciones div{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 180px;
	height: auto;
	padding: 10px;
	border-radius: 10px;
	background-color: #cc7e57;
	transition: box-shadow 1s;
}
.cont-opciones div:hover{
	box-shadow: 4px 5px 6px 5px rgb(192, 177, 206);
}
.cont-opciones img{
	width: 170px;
	height: 170px;
	border-radius: 10px;
}
.cont-opciones h3{
	margin-top: 10px;
	color: #fff;
}
.boton{
	background: red;
	padding: 20px;
	float: right;
	margin: 0 50px 100px 0;
	border-radius: 10px;
	color: #fff;
	font-size: 18px;
	transition: box-shadow 0.5s;
}
.boton:hover{
	box-shadow: 5px 6px 7px 4px #000;
}