*{
	margin: 0;
	padding: 0;
}
body{
	background: rgb(112, 172, 76);
}
@font-face{
    font-family: KaushanScript-Regular;
    src: url(../Fuentes/KaushanScript-Regular.otf);
}
.cont-titulo{
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: 190px 70px;
	grid-gap: 150px;
	background: rgb(226, 24, 24);
	padding: 20px;
	border-radius: 0 0 35px 35px;
}
b{
	font-size: 6mm;
}
.cont-pregunta{
	display: flex;
	align-items: center;
	margin: auto;
	background: green;
	padding: 30px;
	width: 700px;
	border-radius: 20px;
	height: auto;
	margin-top: 50px;
}
.cont-pregunta p{
	width: 400px;
	margin-left: 50px;
}
img{
	width: 200px;
	height: 200px;
}
.opciones{
	display: grid;
	grid-template-columns: repeat(3, 200px);
	grid-template-rows: repeat(3, 200px);
	justify-content: center;
	align-items: center;
	grid-gap: 50px;
	margin-top: 50px;
}
.opciones div{
	display: flex;
	align-items: center;
	width: 120px;
	height: 120px;
	background: rgb(125, 194, 102);
	padding: 30px;
	transition: padding 0.5s;
}
.opciones div:hover{
	padding: 40px;
}

/*Estilos de la página de temas*/
.body2{
	background: green;
}
h1{
	font-family: KaushanScript-Regular;
	font-size: 12mm;
	text-align: center;
	color: #fff;
}
.cont-opc{
	display: grid;
	justify-content: center;
	grid-gap: 50px;
	grid-template-columns: repeat(3, 190px);
	grid-template-rows: repeat(3, 190px);
	margin-top: 50px;
}
.cont-opc div{
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
	padding: 5px;
	background: blue;
}
.cont-opc img{
	width: 150px;
	height: 100px;
	margin-bottom: 15px;
}
h4{
	text-align: center;
}