*{
	margin: 0;
	padding: 0;
}
body{
	background: rgb(7,2,87);
	background: linear-gradient(180deg, rgba(7,2,87,1) 6%, rgba(39,9,121,1) 34%, rgba(0,212,255,1) 97%);
	background-repeat: no-repeat;
}
h1{
	display: inline-block;
	color: #fff;
	font-size: 15mm;
	font-family: Algerian;
	margin: 14% 0 0 17%;
}
.cont-tarjeta{
	display: flex;
	align-items: center;
	flex-direction: column;
	float: right;
	background: rgb(89, 113, 48);
	width: 300px;
	height: auto;
	margin: 50px 50px 50px 0;
	padding: 20px;
	border-radius: 20px;
}
.cont-tarjeta img{
	width: 200px;
	height: auto;
	border-radius: 10px;
}
.cont-tarjeta p{
	font-family: Time new Roman;
	font-size: 5mm;
	margin-bottom: 10px;
}
li{
	font-size: 5mm;
}
.boton{
	display: flex;
	margin: auto;
	margin-top: 50px;
	padding: 15px 100px;
	border-radius: 15px;
	background: red;
	color: #fff;
	font-size: 5mm;
}
a{
	text-decoration: none;
}
